.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

#search{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:black;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
    border-left:  hsla(311, 37%, 32%) 2px solid;
    border-right:  hsla(311, 37%, 32%) 2px solid;
    border-bottom:  hsla(311, 37%, 32%) 2px solid;
}

#search li{
    border-radius: 5px;
    padding-left: 3px;
}

#search li:hover{
    background-color: #ececec;
}

#dropdown{
    border:  hsla(311, 37%, 32%) 2px solid;
}

#dropdown-list{
    border-left:  hsla(311, 37%, 32%) 2px solid;
    border-right:  hsla(311, 37%, 32%) 2px solid;
    border-bottom:  hsla(311, 37%, 32%) 2px solid;
}