<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Arrival Time</title>

    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../src/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .green {
            color: green;
        }

        .yellow {
            color: yellow;
        }

        .red {
            color: red;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg fs-4 fw-bold" style="background-color:#C79E53; color: #C4A872;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-underline" aria-current="page"
                            href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle pb-0" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Bus
                        </a>
                        <ul class="dropdown-menu" style="background-color:#C79E53;">
                            <li><a class="dropdown-item fw-bold" href="pages/bus/bus_arrival.html">Bus Arrival Time</a>
                            </li>
                            <li><a class="dropdown-item fw-bold" href="#">Bus Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Train</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Taxi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Traffic</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-sharp fa-solid fa-gear"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- TITLE -->
    <h1 class="display-1 text-center fw-bold">
        Bus Arrival Timings
    </h1>

    <div class="container-fluid pt-5 py-5">
        <h3>Search By: </h3>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#email">Bus Stops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#office">Bus Services</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div id="app">
            <div class="tab-content">
                <div id="email" class="container tab-pane active"><br>
                    <h2 class="fw-bold display-3 text-center">Bus Stops</h2>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8">
                            <select v-model="selected_bus_stop_code" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option v-for="bus_stop of bus_stops" v-bind:value="bus_stop.code">{{bus_stop.desc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success mt-2"
                                v-on:click="get_arrival_time_bus_stop()">Go</button>
                        </div>
                    </div>

                    <div v-show="bus_stop_hidden.length > 0">
                        <h3 class="text-center fw-bold display-5 text-decoration-underline">{{get_bus_stop_name()}}</h3>
                        <div class="row" v-for="(value, key) of selected_bus_stop_arrivals">
                            <div class="col-4 text-center display-6 my-5 fw-bold">
                                {{key}}
                            </div>
                            <div class="col-8">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Timings</th>
                                            <th scope="col">Wheelchair accessible?</th>
                                            <th scope="col">Bus type</th>
                                        </tr>
                                    </thead>

                                    <tr v-for="val of value">
                                        <td v-bind:class="get_capacity_color(val[2])">{{val[0]}}</td>
                                            <td v-if="val[1].length > 0">
                                                <i class="fa-solid fa-wheelchair display-6"></i>
                                            </td>
                                            <td v-else>hello</td>
                                        <td v-if="val[3] == 'SD'"><img src="../../src/img/bus/sd.png" style='width:60px'></td>
                                        <td v-else-if="val[3] == 'DD'"><img src="../../src/img/bus/dd.png"  style="width:60px" ></td>
                                        <td v-else-if="val[3] == 'BD'"> <img src="../../src/img/bus/bd.png" style="width:100px" ></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
                <div id="office" class="container tab-pane fade"><br>
                    <h3>Bus Service</h3>
                    <select v-model="selected_service_no" class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example">
                        <option v-for="service of services" v-bind:value="service">{{service}}</option>
                    </select>
                    <button type="button" class="btn btn-success mt-2" v-on:click="get_arrival_time_bus_service()">Go</button>
                    <div v-show="bus_service_hidden.length > 0">
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <!-- INPUT FORM -->

        <!-- <div id="app">
            <div class="container-fluid mx-auto w-75">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <select v-model="selected_bus_stop" class="form-select form-select-lg mb-3"
                            aria-label=".form-select-lg example">
                            <option v-for="bus_stop of bus_stops" v-bind:value="bus_stop">{{bus_stop}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-success mt-2">Go</button>
                    </div>
                    <div class="col-4">
                        <select v-model="selected_service_no" class="form-select form-select-lg mb-3"
                            aria-label=".form-select-lg example">
                            <option v-for="service of services" v-bind:value="service">{{service}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-success mt-2">Go</button>
                    </div>
                </div>
            </div>
        </div> -->


        <!-- FOOTER -->
        <div class="container-fluid text-center fs-1" style="color:#C79E53;">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../../src/js/bus_arrival.js"></script>

</body>

</html>