<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Arrival Time</title>

    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../src/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="../../src/css/bus_arrival.css">

    <style>
        .green {
            color: green;
        }

        .yellow {
            color: yellow;
        }

        .red {
            color: red;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg fs-4 fw-bold" style="background-color:#C79E53; color: #C4A872;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-underline" aria-current="page"
                            href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle pb-0" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Bus
                        </a>
                        <ul class="dropdown-menu" style="background-color:#C79E53;">
                            <li><a class="dropdown-item fw-bold" href="pages/bus/bus_arrival.html">Bus Arrival Time</a>
                            </li>
                            <li><a class="dropdown-item fw-bold" href="#">Bus Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Train</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Taxi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Traffic</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-sharp fa-solid fa-gear"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- TITLE -->
    <h1 class="display-1 text-center fw-bold">
        Bus Arrival Timings
    </h1>

    <div class="container-fluid pt-5 py-5">


        <!-- Tab panes -->
        <div id="app">
            {{get_bus_stops}}
            {{get_bus_service}}
            {{get_bus_routes}}
                    <h2 class="fw-bold display-3 text-center">Bus Service</h2>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8">
                            {{get_bus_service}}
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" id="name" v-model="selected_service_no"
                                @keyup="auto_complete_bus_service_search()">
                            <div v-show="auto_complete_suggestion_service.length > 0">
                                <ul id="search">
                                    <li v-for="suggestion of auto_complete_suggestion_service"
                                        v-on:click="fill_bus_service(suggestion)">
                                        {{suggestion}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success mt-2"
                                v-on:click="get_service_sequence()">Go</button>
                        </div>
                    </div>

                    <div class="row" v-if="Object.keys(this.bus_direction_points).length > 1">
                        <div class="col-1"></div>
                        <div class="col-8">
                            <select v-model="direction" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option v-for="(value, key) of bus_direction_points" v-bind:value="key">
                                    {{Object.keys(value)[0]}}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success mt-2" v-on:click="get_bus_timing_from_service()">Go</button>
                        </div>
                    </div>

                    <!-- {{arrival_timings}} -->
                    
                    <div v-if="direction.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Bus Stop Code</th>
                                    <th scope="col">Bus Stop Name</th>
                                    <th scope="col">Bus Timing</th>
                                </tr>
                            </thead>


                            <tr v-for="(value, key) of bus_service_sequence[direction]">
                                <td>{{value}}</td>
                                <td>{{get_bus_stop_name(value)}}</td>
                                <!-- <td v-html="get_bus_timing_from_service(value)">44</td> -->
                                <!-- <td>{{get_bus_timing_from_service(value)}}</td> -->
                                <td v-show="service_arrival_time.length == 0">
                                    <button type="button" class="btn btn-success mt-2" v-on:click="get_bus_timing_from_service(value)">Get arrival time</button>
                                </td>
                                <!-- <td v-show="service_arrival_time.length > 0">4</td> -->
                                <!-- <td v-for="time in service_time">{{time}}</td>
                                <td v-html="service_time"></td> -->
                            </tr>
                        </table>
                    </div>
            </div>
        </div>



        <!-- FOOTER -->
        <div class="container-fluid text-center fs-1" style="color:#C79E53;">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- <script src="../../src/js/bus_arrival.js"></script> -->
        <script src="../../src/js/bus/bus_service.js"></script>

</body>

</html>